
* { 
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1e1e3f;
    color: #d0dbf9;
    display: flex;
    flex-direction: column;
  }

.events{
  position:absolute;
  margin: 85px 0 295px 250px;
  padding: 20px 35px 20px 35px; 
}

.event-section {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #262c56;
  border: 1px solid #0057b7;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  animation: fadeInUp 1s ease forwards;
  animation-delay: 5mss;
  overflow: hidden;
}

@keyframes fadeInUp {
  from {
  opacity: 0;
  transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.event-section h3{
  text-align: center;
  font-size: 5vh;
  margin-bottom: 10px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.event-section h3:hover {
  text-shadow: 0px 3px 9px rgba(0, 0, 0, 100);
  transform: scale(1.15);
  color: #ffffff;
}


.event-flex {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
}

.event-images {
  height: 25vh;
  max-width: 35vh;
  overflow: hidden;
  border: 2px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carousel-track {
  display: flex;
  flex-direction: column;
  animation: slide 12s infinite; 
}

.carousel-track:hover {
  animation-play-state: paused;
}

/*  */
.carousel-track img{
  height: 25vh;
}

/* 3 */
@keyframes slide { 
  0%   { transform: translateY(0); }
  33%  { transform: translateY(-25vh); }
  66%  { transform: translateY(-50vh); }
  100% { transform: translateY(0); }
}


.event-images:hover{
  transform: scale(1.05);
  border: 3px solid #73b2f5;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.event-text {
  flex: 1;
  min-width: 250px;
}

.event-text p {
  font-size:2.2vh;
  color: #c5e2f9;
  margin-bottom: 15px;
}


